<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="App">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- STYLES -->
    <link href="/Content/Libraries/Bootstrap/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet" />

    <link href="./Content/css/styles.css" rel="stylesheet" />
    <!-- / STYLES -->

    <link rel="shortcut icon" href="/Content/media/img/logos/favicon.ico" />
    <title>VoteUA - Manage vote</title>
</head>
<body>
    <header id="header">
        <a href="/">
            <img src="/Content/media/img/logos/logo.png" width="50" height="50" />
        </a>
    </header>
    <div id="content" ng-controller="SeeStatisticsCtrl">
        <div ng-if="IsAuth">
            <table id="answerstatistics">
                <tr ng-repeat="answ in data.votes[AuthIndex].answers">
                    <td>
                        {{answ.name}}
                    </td>
                    <td>
                        {{answ.count}}
                    </td>
                </tr>
            </table>
            <button class="btn btn-primary btn-lg" ng-click="DeAuth()">
                Log out
            </button>
            <!--<button class="btn btn-primary btn-lg" ng-click="DeleteVote()">
                Delete vote
            </button>-->
        </div>
        <div ng-if="!IsAuth">
            <div class="form-group row">
                <div class="col-md-3">
                    <label>Your vote's nick</label>
                </div>
                <div class="col-md-9">
                    <input type="text" class="form-control" ng-model="modellogin" placeholder="Nick" value="" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <label>Your vote's password</label>
                </div>
                <div class="col-md-9">
                    <input type="password" class="form-control col-md-9" ng-model="modelpassword" placeholder="Password" value="" />
                </div>
            </div>
            <div>
                <button class="btn btn-primary btn-lg" ng-click="Auth(modellogin, modelpassword)">
                    Log in
                </button>
            </div>
        </div>
    </div>

    <!-- SCRIPTS -->
    <script src="/Content/Libraries/jQuery/jquery.js"></script>
    <script src="/Content/Libraries/Bootstrap/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script src="/Content/Libraries/AngularJS/angular-1.5.8/angular.js"></script>
    <script src="/Content/Libraries/jQuery/jquery.nicescroll.js"></script>
    <script src="/Content/Libraries/jQuery/jquery.cookie.js"></script>

    <script src="/Content/Libraries/Firebase/firebase.js"></script>
    <script src="/Content/Libraries/Firebase/angularfire.min.js"></script>

    <script src="./Content/js/view.js"></script>
    <script src="./Content/js/app.js"></script>
    <!-- / SCRIPTS -->
</body>
</html>